/* Brand */
$brand-primary: #F46737;
$brand-text-light: #FFFFFF;

/* Fonts */
$font-body: 'Roboto', sans-serif;
$font-headline: 'Nunito', sans-serif;

/* Grid */
$container-width: 800px;
$spacing-hg: 120px;
$spacing-lg: 60px;
$spacing-md: 20px;
$spacing-sm: 10px;